<?xml version="1.0"?>
<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright 2021 Blue Acorn iCi. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payyourway>
                <active>0</active>
                <model>PayYourWay\Pyw\Model\PaymentMethod</model>
                <order_status>processing</order_status>
                <title>Pay Your Way</title>
                <payment_action>authorize_capture</payment_action>
                <enable_refresh_token_process>1</enable_refresh_token_process>
            </payyourway>
        </payment>
    </default>
</config>
