<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright 2021 Blue Acorn iCi. All Rights Reserved.
 */
-->
<div id="overlay" style="display:none"></div>
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <div class="payyourwaysection">
            <input type="radio"
                   name="payment[method]"
                   class="radio radiosyw"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
            <img data-bind="attr: { src: require.toUrl('PayYourWay_Pyw/images/syw-logo.png') }" alt="SYW Brand Image" class="imgsyw">
            <label data-bind="attr: {'for': getCode()}" class="label sloganlearnmore">
                <table class="payyourway-table">
                    <thead>
                    <tr class="row-header">
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-1">
                            <span class="payment-method-name" data-bind="text: getTitle()"></span>
                        </td>
                        <td class="col-2">
                            <span class="slogan" data-bind="html: 'Unlock your rewards, your way.<br/> Shop Your Way MasterCard<sup>®</sup> is the best way to shop now and earn rewards.'">&nbsp;</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </label>
        </div>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary paycheckout"
                        type="submit"
                        data-bind="
                        click: openPayYourWay,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span class="padding" data-bind="i18n: 'Pay with Shop Your Way'"></span>
                </button>
            </div>
        </div>
        <div id="pywpopup" class="backdrop">
        </div>
    </div>
</div>

